/* Default light theme */
body {
  --text-color: #492c11;
  --accent-color: #492c11;
  --background-color: #fcf5da;
}
/* Dark theme colors */
body.dark-theme {
  --text-color: #EED7A1;
  --accent-color: #F5DEB3;
  --background-color: #242525;
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body { 
    --text-color: #EED7A1;
    --accent-color: #F5DEB3;
    --background-color: #242525;
  }
  /* Override dark mode with light mode styles if the user decides to swap */
  body.light-theme {
    --text-color: #492c11;
    --accent-color: #492c11;
    --background-color: #fcf5da;
  }
}

@media (min-width: 800px) {
  body {
    font-size: large;
  }
}

body {
  color: var(--text-color);
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
  background-color: var(--background-color);
}

.header {
  border-bottom: 1px solid var(--accent-color);
  border-top: 1px solid var(--accent-color);
  margin-bottom: 1rem;
}

.header nav ul  {
  display: flex;
  justify-content: center;
  gap: 15%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.framed {
  border: 1px solid var(--accent-color);
  margin-bottom: auto;
  padding-left: 5px;
  padding-right: 5px;
}

ul {
  margin-top: 0%;
  margin-bottom: 0%;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

hr {
  color: var(--accent-color);
  border: none;
  border-top: 1px dotted var(--accent-color);
  background-color: var(--background-color);
  height: 3px; 
  margin-left: 0px; 
  margin-right: 40%;
  margin-top: 0%;
  margin-bottom: 0%;
  transform: translateY(-5px);
}

h1 {
  margin-bottom: 0%;
}

h2 {
  margin-bottom: 0%;
}

h3 {
  margin-top: 0%;
}

p {
  margin-top: 0%;
}

a {
  color: var(--accent-color);
  text-decoration: underline;
}

.pretty {
  font-style: italic;
}

.computerized {
  /*font-family: 'Courier New', monospace;
  font-weight: 600;
  letter-spacing: -.5px;*/
}

.tags_footer {
  margin-bottom: 0%;
  margin-top: 0%;
}