{{ define "main" }}
  <div class="landing">
    {{ .Content }}
  </div>
  {{ $seriesPages := slice }}
  {{ range $term, $pages := site.Taxonomies.series }}
    {{ $termPage := site.GetPage (printf "/series/%s" (urlize $term)) }}
    {{ $seriesPages = $seriesPages | append $termPage }}
  {{ end }}
  {{ range sort $seriesPages ".Weight" }}
    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    {{ .Summary }}    
    {{ with .Params.description }}
      <p>{{ . }}</p>
    {{ else }}
      {{ with .Summary }}
        <p>{{ . }}</p>
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
