{{ define "main" }}
  <h1 class="{{ if .Params.pretty }}pretty{{ end }} {{ if .Params.computerized }}computerized{{ end }}">{{ .Title }}</h1>
  <h3 class="{{ if .Params.pretty }}pretty{{ end }} {{ if .Params.computerized }}computerized{{ end }}">{{ .Params.subtitle }}</h3>
  <p class="{{ if .Params.framed }}framed{{ end }}" style="margin-bottom: 30px;">{{ .Params.description }}</p>
  <div class="{{ if .Params.pretty }}pretty{{ end }} {{ if .Params.computerized }}computerized{{ end }} poetry">
    {{ .Content }}
  </div>
  
  <br><br>
  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  Written: <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
  
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}
